@font-face {
  font-family: "Cinzel";
  src: url("fonts/Cinzel-Regular.otf");
}

@font-face {
  font-family: "Lato Regular";
  src: url("fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato Light";
  src: url("fonts/Lato-Light.ttf");
}

html,
body {
  height: 100%;
}

body {
  background-color: #eee7e1;
  font-family: "Lato Regular", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.box {
  text-align: center;
  color: white;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header span {
  margin-top: 5px;
  color: #a4863b;
  font-size: large;
}

.logo {
  width: 300px;
}

.content {
  flex: 1;
  justify-content: start;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  min-width: 310px;
  margin: 5px;
}

.social span {
  font-size: large;
  margin-left: 5px;
}

.social a {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: #000066;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000066;
  flex-direction: column;
}
